[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
alembic = "*"
fastapi = "*"
uvicorn = "*"
boto3 = "*"
python-dotenv = "*"
botocore = "*"
pyjwt = "*"
shotstack-sdk = "*"
sqlalchemy = "*"
loguru = "*"
psycopg2 = "*"
pexels-api-py = "*"

[dev-packages]

[requires]
python_version = "3.10"
